*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
.header{
    background-image: linear-gradient(to top, #ebc0fd 0%, #d9ded8 100%);
    min-height: 100vh;
    width: 100%;
}
h1{
    font-size: 100px;
    font-family: 'Fredoka One', cursive;
    /* color: linear-gradient(-45deg,#567462,#FBD786,#f7797d); */
    /* color: linear-gradient(red,blue); */
    background: linear-gradient(
            to right, #a8c0ff,#3f2b96);
        -webkit-text-fill-color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
        background-size: 200% 200%;
        position: relative;
        animation: change 4s ease-in-out infinite;
}
@keyframes change {
    0%{
        background-position: 0 50%;
    }
    33%{
        background-position: 33% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    66%{
        background-position: 33% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
#text-box{
    width: 90%;
    color:aliceblue;
    position:absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-70%);
    text-align: center;
    margin-top: 30px;
}

#search-box input{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    box-shadow: 8px 10px 8px rgba(217, 172, 253, 0.623);
    border: none;
    /* border-top: 1px solid rgba(255,255,255,0.5); */
    /* border-left: 1px solid rgba(255,255,255,0.5); */
    border-radius: 20px;
    box-sizing: border-box;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(8px);
    text-align:center;
}
#search-box{
    width: 40%;
    background: transparent;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
@keyframes upward-fade {
    0%{
        transform: translate(-50%,-50%);
    }
    100%{
        transform: translate(-50%,-250%);
    }
}
#search-box img{
    position: absolute;
    padding: 10px;
    left: 2%;
    height: 50px;
}
#myQuote{
    margin: auto;
    align-items: center;
    width: 80%;
    justify-content: center;
}
.quote{
    margin-top: 80px;
    justify-content: center;
    font-family: 'Architects Daughter', cursive;
    font-weight: 700;
}
#result{
    display: flex;
    height:200px;
    position: relative;
    top:420px;
    margin: auto;
    width:40%;
    border: 1px solid rgb(182, 180, 180);
    box-shadow: 5px 5px 5px rgba(209, 131, 255, 0.5);
    backdrop-filter: blur(8px);
    border-radius: 20px;
    background: rgba(255,255,255,0.1);
}
#bookInfo ul li{
    padding: 10px;
    margin: 10px 10px 10px 20px;
    align-items: center;
    list-style: none;
    font-family: sans-serif;
    color:rgb(255, 255, 255);
}
#bookInfo{
    /* background-color: cadetblue; */
    width: 70%;
}
#bookImg{
    /* background-color: blue; */
    height: 100%;
    width: 30%;
}
#bookImg img{
    margin: 20px 50px 10px 30px;
    border-radius: 5px;
}
.result {
   flex-direction: column; 
   /* justify-content: center; */
   text-align: center;
   /* align-content: center; */
}
.result h2{
    padding-top: 50px;
    font-family: sans-serif;
}
.result p{
    padding-top: 30px;
    font-family: sans-serif;
}
#publish-btn{
    top: 650px;
    margin: auto;
    display: inline-block;
    position: absolute;
    text-align: center;
    width: 100%;
}
.btn{
    height: 40px;
    width: 20%;
    border: none;
    border-radius: 30px;
    background: rgba(0, 0, 0, 0.05);
    box-shadow:  9px 9px 19px #ba8be6,
             -3px -3px 9px #f5f6f5;
    backdrop-filter: blur(8px);
    font-family: sans-serif;
    color: azure;
}
.header2{
    overflow: hidden;
    background-image: linear-gradient(to bottom, #ebc0fd 0%, #d9ded8 100%);
    min-height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
}
.row{
    justify-content: center;
    display: flex;
    width: 80%;
    display: flex;
}
.second-sec{
    width: 50%;
    height: 700px;
    margin: 50px 10px 50px 10px;
}
#illus{
    transform: translateX(-200px);
    height: 700px;
}
.login-box {
    position: relative;
    top: 30%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(158, 91, 245, 0.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
}
  
.login-box .user-box {
    position: relative;
}
  
.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
}
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
}
  
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #7921cc;
    font-size: 12px;
  }
.login-box .user-box input[type=text]:active{
    background-color: rgba(158, 91, 245, 0.1);
    border-radius: 5px;
}
#form-btn{
    /* top: 650px; */
    margin: auto;
    display: inline-block;
    position: relative;
    text-align: left;
    width: 700px;
}

